.container {
    max-width: 1720px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: sans-serif;
  }
.heading {
    margin: auto;
    text-align: center;
    color: rebeccapurple;
  }
.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
  }
.nav-link-item {
    padding-right: 2rem;
  }
.nav-link-text {
    color: black;
  }
.site-title {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    font-size: 3rem;
    color: gray;
    font-weight: 700;
    margin: 3rem 0;
  }

.blocco_A {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #F4F0EC;
}